@charset "utf-8";

* {
	margin: 0;
	outline: none;
	padding: 0;
}

img {
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding: 20px;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	max-width: 100%;
	text-align: left;
	width: 990px;
}

h1, h2, p {
	line-height: 1.5em;
	padding: 0.75em 0;
}

a {
	color: #F09;
}

a:hover {
	text-decoration: none;
}

#tabSwitcher .tabs {
	border-bottom: 5px solid #F09;
}

#tabSwitcher .tabs a {
	background: #000;
	border-radius: 7px 7px 0 0;
	color: #FFF;
	font-weight: bold;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
}

#tabSwitcher .tabs .selected {
	background: #F09;
}

#tabSwitcher .toSwitch {
	border: 1px solid #F09;
	border-top: none;
	border-radius: 0 0 7px 7px;
	overflow: hidden;
	padding: 0 20px;
}

#tabSwitcher .toSwitch > div {
	background: #FFF;
}